[Unit]
Description = Video stream launcher

[Service]
User=ubuntu
Type=simple
ExecStart=/home/ubuntu/src/startup/streamer.sh
Restart=always

[Install]
WantedBy=multi-user.target
